h1 {
    font-family: 'Georgia';
    text-align: center;
    }
    
body {
   
    font-family: 'Helvetica';
    background-image: url(BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0.5em;
    margin-top: 5em;
   
}

#form {
    background-color: rgba(242, 235, 235, 0.9);
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    padding: 10px;
    margin-top: 2em;
    width: 350px;
    height: 220px;
}

fieldset {
    border-radius: 0.5em;
    text-align: center;
    margin-left: 1em;
    margin-top: 1.5em;
    width:300px;
    height: 50px;
}

#start {
    margin-top: 2em;
    
}

#Screen1 {
    font-family: 'Helvetica';
    font-size: 0.8em;
    text-align: center;
    margin-top: 8em;
    justify-content: center;
    display: grid;
}


#Screen2{
    display: none;
}

#deck {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    height: auto;
    width: auto;
    padding: 10px;
 } 

#playfield {
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    background-color:  rgba(242, 235, 235, 0.9);
    height: 640px;
    width: 900px;
    margin-right: 10px;
}

.row {
    display: flex;
    height: 90px;
    width: 900px;
}

.field {
    margin: 5px;
    height: 65px;
    width: 90px;
    border: 3px solid rgba(93, 45, 17, 0.824);;
    border-radius: 5px;
}

.state {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 5px;
}

#info {
    position: absolute;
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    background-color: rgba(242, 235, 235, 0.9);
    margin-left: 920px;
    height: 620px;
    width: 500px;
    padding: 10px;
}

#storage {
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    background-color: rgba(242, 235, 235, 0.9);
    height: 200px;
    width: 490px;
    margin-bottom: 10px;
}

#market {
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(15, 84, 30);
    background-color: rgba(242, 235, 235, 0.9);
    height: 400px;
    width: 490px;
}

p {
    margin: 10px;
}

.items {
    display: flex;
    flex-direction: row;
}

img {
    height: 50px;
    width: 50px;
}